[alias]
	lol = log --decorate --pretty  --graph --stat
	l = log --decorate --pretty --oneline
	s = status -s --ahead-behind
	sb = status -s --ahead-behind -b 
	ac = add *.c *.cpp *.h Makefile
	aa = add *
	c = commit -m
	po = push origin 
	pom = push origin master
	pov = push origin Vicente
	pp = push personal
	ppm = push personal master
	p = push
	r = remote
	b = branch
	ra = remote add
	rp = remote add personal
	ro = remote add origin
	ch = checkout
	cho = checkout master
	chv = checkout Vicente
	suba = submodule add
	subp = submodule update --merge --remote
	subc = submodule update --init --recursive
[status]
	submodulesummary = true
